backgroundColor =  #FFFCCC
textColor = #555555
headerColor = #412234
borderColor = #000000
listItemColor = #B49FBB
labelColor = #ffd27f
listHolderColor = #d3d3d3
textBubble1Color = #EAD7D7
textBubble2Color = #FF92BB
