backgroundColor =  #FFF0F5
textColor = #555555
headerColor = #2E0854
borderColor = #000000
listItemColor = #BF5FFF
labelColor = #ffd27f
listHolderColor = #d3d3d3
textBubble1Color = #FFBBFF
textBubble2Color = #EE82EE
textBubble3Color = #EAADEA
