smallerDevices = 'screen and (max-width: 815px)'

div.links
	float: left
	width: 45%
	border-radius: 25px
	border: solid 1px borderColor
	background-color: textBubble1Color
	padding: 1%
	margin: 1%

div.homepageLinks
	float: center
	width: 95%
	border-radius: 25px
	border: solid 1px borderColor
	background-color: textBubble3Color
	padding: 1%
	margin: 1%

div.topthird
	float: left
	width: 27.5%
	margin: 1.6%
	padding: 1%
	border: dotted 1px
	border-radius:25px
	padding-bottom: 1%
	background-color: textBubble2Color
	@media smallerDevices
		padding:10px
		float: center
		width: 90%
		margin: 25px
