smallerDevices = 'screen and (max-width: 815px)'


div.homepageLinks
	border-radius: 25px
	border: solid 1px borderColor
	background-color: textBubble3Color
	padding: 25px


div.topthird
	float: left
	width: 27.5%
	padding: 1%
	margin: 1%
	border: dotted 1px
	border-radius:25px
	padding-bottom: 1%
	background-color: textBubble3Color
	margin: 10px
	@media smallerDevices
		padding:10px
		float: center
		width: 90%
		margin-bottom: 25px


div.links
	float: left
	width: 43%
	border-radius: 25px
	border: solid 1px borderColor
	background-color: listItemColor
	padding: 1%
	margin: 1%
	text-align: center
