smallerDevices = 'screen and (max-width: 815px)'

ul
	padding-left:0

li
	color: textColor
	line-height: 3/2
	background-color: listItemColor
	border-radius: 5px
	border: solid 1px #000000
	height: auto
	list-style-type: none
	padding-left: 20px
	padding-top: 10px
	padding-bottom: 10px
	padding-right: 20px
	position: relative
	overflow: auto
	margin: 20px

button
	float: right
	margin: 5px
  top: 2px
  right: 2px
	@media smallerDevices
		padding-top: 5px
		padding-bottom: 5px

label
	float: right
	background: labelColor
	border-radius: 5px
	border: solid 1px borderColor
	top: 5px
	right: 35px
	padding: 2px
	z-index: 1
