@media (min-width: 816px){
	form{
		font-family: tahoma;
		color: #555555;
		letter-spacing: 0.25px;
		line-height: 1.5;
	}

	input{
		border: solid 1px #000000;
	}

	div.third{
		float: left;
		width: 27.5%;
		margin: 1.6%;
		padding: 1%;
		padding-bottom: 1%;
	}

	div.itemContainer{
		background-color: #d3d3d3;
		padding-bottom: 100px;
		border: dotted 2px #000000;
		border-radius: 5px;
	}
}

/* Phone Layout */
@media (max-width: 815px){
	form{
		font-family: tahoma;
		color: #555555;
		letter-spacing: 0.25px;
		line-height: 1.5;
	}

	input{
		border: solid 1px #000000;
	}

	div.third{
		float: left;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding-bottom: 15px;
	}

	div.itemContainer{
		background-color: #d3d3d3;
		padding-bottom: 100px;
		border: dotted 2px #000000;
		border-radius: 5px;
	}

}



