smallerDevices = 'screen and (max-width: 815px)'

div.half
	float: left
	width: 40%
	margin: 1.6%
	padding: 1%
	padding-bottom: 1%
	@media smallerDevices
		padding-bottom: 15px
		margin-left: 5%
		margin-right: 5%
		width: 90%

div.itemContainer
	background-color: listHolderColor
	padding-bottom: 100px
	border: dotted 2px borderColor
	border-radius: 5px
